.header{
    background-color: magenta;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 10px;
    border-color: white;
}

.header-directory{
    display:inline-block;
    flex: auto;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    
}